*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.navbar{
    position: fixed;
    padding: 15px 0;
    width: 100%;
    background: azure;
    font-family: 'ubuntu', sans-serif;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu li {
    display: inline-block;
    list-style: none;
}
.navbar .menu li a{
    color: aqua;
    
}